[user]
	name = Daniel Pañeda
	email = dpaneda@gmail.com
[color]
	diff = auto
	status = auto
	branch = auto
[core]
	editor = vim
[merge]
	tool = vimdiff
[alias]
	out = log --branches --not --remotes=origin
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
